@charset "utf-8";

body {
	width: 100%;
	margin: 0;
	background-color: black;
	text-align: center;
	padding: 500px 0;
}

h1 {
	color: white;
	margin: 0;
	font-size: 50px;
}

p {
	color: white;
	margin: 0;
}

a {
	margin: 0;
	text-decoration: none;
	color: white;
	margin-top: 100px;
	display: inline-block;
	border: 2px solid red;
	border-radius: 5px;
	padding: 10px 20px;
	opacity: 0.7;
}

a:hover {
	opacity: 1;
}
